<ng-container *ngIf="data$ | async as data">
  <mat-card *ngFor="let worker of data">
    <mat-card-title>
      {{ worker.firstname }} {{ worker.lastname }} ({{ worker.birthday | age }})
    </mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <td>Wohnort</td>
          <td>{{ worker.domicile }}</td>
        </tr>
        <tr>
          <td>Stelle</td>
          <td>{{ worker.profession.name }} ({{ worker.level.name }})</td>
        </tr>
        <tr>
          <td>Gehalt</td>
          <td>{{ worker.salary }}</td>
        </tr>
        <tr>
          <td>Arbeitszeit</td>
          <td>{{ worker.percentage }}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button [routerLink]="['/employee', worker.id]">Mehr Details</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
