<mat-card>
  <h2>Arbeitsmarkt</h2>

  <table *ngIf="data$ | async as data" mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let worker"> {{ worker.firstname }} {{ worker.lastname }}</td>
    </ng-container>
    <ng-container matColumnDef="domicil">
      <th mat-header-cell *matHeaderCellDef>Wohnort</th>
      <td mat-cell *matCellDef="let worker"> {{ worker.domicile }}</td>
    </ng-container>
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>Entfernung</th>
      <td mat-cell *matCellDef="let worker"> {{ worker.distance }}</td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Beruf / Position</th>
      <td mat-cell *matCellDef="let worker"> {{ worker.profession.name }}</td>
    </ng-container>
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef>Gehalt</th>
      <td mat-cell *matCellDef="let worker"> {{ worker.salary }}</td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>Level</th>
      <td mat-cell *matCellDef="let worker"> {{ worker.level.name }}</td>
    </ng-container>
    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef>Arbeitszeit</th>
      <td mat-cell *matCellDef="let worker"> {{ worker.percentage }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
