:host {
  --column-count: 2;

  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(var(--column-count), 1fr);

  .block {
    grid-column-end: span 2;

    &.half {
      grid-column-end: span 1;
    }
  }
}
