:host {
    .content {
        box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        position: absolute;
        top: 7rem;
        left: 0.5rem;
        right: 0.5rem;
        bottom: 3rem;
        overflow: scroll;
    }
    table {
        width: 100%;
        background-color: #ededed;
        border-color: grey;
        border-collapse: collapse;
        td, th {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-bottom: 1px solid gray;
            text-align: left;
        }
        thead {
            tr {
                height: 36px;
                line-height: 36px;
                color: rgba(0,0,0,.5);
                th {
                    text-align: left;
                }
                
            }
        }
        tbody {
            tr {
                height: 36px;
                line-height: 36px;
                td.value {
                    text-align: right;
                }
                td.name {
                    text-align: left;
               }
            }
        }
    }

  app-link-button {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100vw;
  }
}