<div class="row">
  <ng-container *ngFor="let innerItems of items; trackBy: trackByFn">
    <div *ngFor="let item of innerItems; trackBy: 'name' | trackByProperty" class="outer-box">
      <div class="box"
           [class.active]="item.active"
           [class.hasChildren]="!!item.children?.length"
           (click)="item.active = !item.children?.length && !item.active">
        <div class="content" [ngClass]="'items-' + item.children?.length">
          <ng-container *ngIf="!item.children">
            {{ item.name }}
          </ng-container>
          <ng-container *ngIf="item.children">
            <div *ngFor="let i of item.children; trackBy: 'name' | trackByProperty" class="inner-box"
                 [class.active]="i.active"
                 (click)="i.active = !i.active">
              <div class="inner-content">
                {{ i.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
