.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 580px;

  .outer-box {
    margin: -2px;

    &:nth-child(1),
    &:nth-child(6),
    &:nth-child(11) {
      background-color: red;
    }

    &:nth-child(3),
    &:nth-child(8),
    &:nth-child(13) {
      background-color: lightgrey;
    }
  }

  .box {
    flex: 1;
    margin: 0;
    border: 4px solid transparent;
    border-radius: 15px;
    text-align: center;

    &.hasChildren {
      border: 0;
      margin: 2px;
    }

    &.active {
      border: 4px solid grey;
      position: relative;
      z-index: 21;
    }

    .content {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      padding: 5px;
      background-color: #d1c4e9;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.items-2,
      &.items-3,
      &.items-4 {
        display: flex;
        flex-direction: column;
        width: 114px;
        height: 114px;
        padding: 0;
        background-color: transparent;

        .inner-box {
          margin: -2px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          text-align: center;
          line-height: 100%;
          justify-items: center;
          border: 4px solid transparent;

          .inner-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #d1c4e9;
          }

          &.active {
            border: 4px solid grey;
            position: relative;
            z-index: 21;
          }
        }
      }

      &.items-2 {
        .inner-box {
          &:nth-child(1) {
            border-bottom: 0;
            border-radius: 15px 15px 0 0;

            .inner-content {
              border-radius: 10px 10px 0 0;
            }
          }

          &:nth-child(2) {
            border-top: 0;
            border-radius: 0 0 15px 15px;

            .inner-content {
              border-radius: 0 0 10px 10px;
            }
          }
        }
      }

      &.items-3 {
        .inner-box {
          &:nth-child(1) {
            border-bottom: 0;
            border-radius: 15px 15px 0 0;

            .inner-content {
              border-radius: 10px 10px 0 0;
            }
          }

          &:nth-child(2) {
            border-top: 0;
            border-bottom: 0;
          }

          &:nth-child(3) {
            border-top: 0;
            border-radius: 0 0 15px 15px;

            .inner-content {
              border-radius: 0 0 10px 10px;
            }
          }
        }
      }

      &.items-4 {
        display: flex;
        flex-direction: inherit;
        flex-wrap: wrap;

        .inner-box {
          display: flex;
          flex: 1;

          .inner-content {
            width: 57px;
          }

          &:nth-child(1) {
            border-bottom: 0;
            border-right: 0;
            border-radius: 15px 0 0 0;

            .inner-content {
              border-radius: 10px 0 0 0;
            }
          }

          &:nth-child(2) {
            border-left: 0;
            border-bottom: 0;
            border-radius: 0 15px 0 0;

            .inner-content {
              border-radius: 0 10px 0 0;
            }
          }

          &:nth-child(3) {
            border-top: 0;
            border-right: 0;
            border-radius: 0 0 0 15px;

            .inner-content {
              border-radius: 0 0 0 10px;
            }
          }

          &:nth-child(4) {
            border-top: 0;
            border-left: 0;
            border-radius: 0 0 15px 0;

            .inner-content {
              border-radius: 0 0 10px 0;
            }
          }
        }
      }
    }
  }
}
