/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-design-icons/iconfont/material-icons.css";

html {
  font: 10px sans-serif;
  color: #000;
}

body {
  margin: 0;
}

mat-icon {
  cursor: pointer;
}

mat-card {
  max-width: 400px;
  margin: auto;

  mat-card-title {
    border-bottom: 1px solid #ededed;

    &.mat-card-title {
      padding-bottom: .5rem;
      margin-bottom: 1.5rem;
    }
  }
}
