<h2 mat-dialog-title translate>COMPONENTS.WIN_SCREEN.TITLE</h2>
<mat-dialog-content class="mat-typography">
  <h3>Du hast das aktuelle Spiel gewonnen.</h3>
  <p>Du hast alle nötigen Felder aufgedeckt und dadurch das Spiel gewonnen. Herzlichen Glückwunsch.</p>
  <h3>Zu einfach?</h3>
  <p>Was das Spiel für dich zu einfach? Wenn Du noch nicht im höchsten Level mit dem größen Brett spielst, dann versuche
    es beim nächsten Mal einfach.</p>
  <p>Nimm die Herausforderungen an und spiele erneut.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    {{ 'COMPONENTS.WIN_SCREEN.CLOSE' | translate }}
  </button>
</mat-dialog-actions>
