:host {
  display: block;

  ol {
    padding: 0 0 0 1rem;
  }

  mat-dialog-content {
    div {
      div {
        font-size: 0.8em;
        padding: 0.5em 0;
        display: flex;

        span {
          flex: 1;
          font-size: 1.2em;
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
