cdk-virtual-scroll-viewport {
  display: flex;
  flex-direction: row;
  width: 1200px;

  .column {
    flex: 1;
    width: 50px;

    .block {
      display: block;
      height: 50px;
      width: 50px;
    }
  }
}


.row {
  display: block;
  flex-wrap: nowrap;
  height: 50px;
  overflow: hidden;
  width: 10000px;

  .block {
    display: inline-flex;
    height: 50px;
    width: 50px;
  }
}

.test {
  height: 600px;
  width: 1000px;
  border: 1px solid black;
}
