<h1>Broadcasting</h1>
<button (click)="set()">Click!</button>
<app-cell *ngFor="let cell of cells; trackBy: 'id' | trackByProperty"
          [id]="cell.id"
          [id1]="id"
          [id2]="id"
          [id3]="id"
          [id4]="id"
          [id5]="id"
          [id6]="id"
          [id7]="id"
          [id8]="id"
          [id9]="id"
          [id10]="id"
          [id11]="id"
          [id12]="id"
          [id13]="id"
          [id14]="id"
          [id15]="id"
          [id16]="id"
          [id17]="id"
          [id18]="id"
          [id19]="id"
          [id20]="id">
</app-cell>
