<div class="holder">
  <p>
    {{ 'COMPONENTS.GAME.CREATE.TEXT' | translate }}
  </p>
  <mat-form-field class="full-width">
    <input matInput type="text" [(ngModel)]="player1.name" placeholder="Name Spieler 1" class="input">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" [(ngModel)]="player2.name" [disabled]="player1.name == ''" placeholder="Name Spieler 2" class="input">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" [(ngModel)]="player3.name" [disabled]="player2.name == ''" placeholder="Name Spieler 3" class="input">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" [(ngModel)]="player4.name" [disabled]="player3.name == ''" placeholder="Name Spieler 4" class="input">
  </mat-form-field>
</div>
<app-button (click)="startGame()">Spiel starten</app-button>
<app-link-button>Zurück zu Start</app-link-button>