<mat-card>
  <h2>Highscore</h2>

  <table *ngIf="data$ | async as data" mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let highscore"> {{ highscore.name }}</td>
    </ng-container>
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef>Punkte</th>
      <td mat-cell *matCellDef="let highscore"> {{ highscore.score }}</td>
    </ng-container>
    <ng-container matColumnDef="apples">
      <th mat-header-cell *matHeaderCellDef>Äpfel</th>
      <td mat-cell *matCellDef="let highscore"> {{ highscore.apples }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Datum</th>
      <td mat-cell *matCellDef="let highscore"> {{ highscore.date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'score','apples','date']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'score','apples','date'];"></tr>
  </table>
</mat-card>
