<mat-card>
  <mat-button-toggle-group [(ngModel)]="gameMode">
    <mat-button-toggle *ngFor="let item of modes; trackBy: ('key' | trackByProperty)"
                       [value]="item.value">
      {{ 'GLOBAL.ENUM.GAME_MODE.' + item.key | uppercase | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>
  <h2>Highscore</h2>
  <app-high-score-table [gameMode]="gameMode"></app-high-score-table>
  <button mat-flat-button color="primary" [routerLink]="['/']">
    {{ 'COMPONENTS.HIGHSCORE.HOME_LINK' | translate }}
  </button>
</mat-card>
