:host {
  display: inline-flex;
  min-width: 50px;
  height: 50px;
  border: 1px solid lightgrey;
  font-size: 8px;
  flex-direction: column;

  mat-icon {
    position: absolute;
  }

  .box {
    flex: 1;
    display: flex;

    .cell {
      flex: 1;

      &.right {
        background-color: grey;
      }
    }
  }
}
