<div class="row" *ngFor="let row of board; let i = index;">
  <div *ngFor="let cell of row; let j = index; trackBy: 'id' | trackByProperty"
       class="column"
       [class.snake]="cell.isSnake"
       [class.head]="cell.isHead"
       [class.apple]="cell.isApple"
       [class.golden]="cell.isApple && cell.isGoldenApple">
  </div>
</div>

<div class="score-board">
  <div><label>Punkte:</label> {{ scoreBoard.points }}</div>
  <div><label>Äpfel</label> {{ scoreBoard.apples }}</div>
</div>

<div *ngIf="!gameOver" class="controls">
  <div class="left" (click)="handleDirection(directions.Left)">
    <button class="material-icons">
      arrow_back
    </button>
  </div>
  <div class="right" (click)="handleDirection(directions.Right)">
    <button class="material-icons">
      arrow_forward
    </button>
  </div>
</div>

<app-navigation *ngIf="gameOver" (restart)="restart()"></app-navigation>

<bpa-count-down *ngIf="!started"></bpa-count-down>
