:host {
  display: block;
  width: 16 * (22px);
  margin: auto;
  background-color: grey;

  .row {
    height: 2rem;
  }

  .column {
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    display: inline-block;

    &.snake {
      background-color: #323232;

      &.head {
        background-color: #00b500;

        &.golden {
          background-color: gold;
        }
      }
    }

    &.apple {
      background-color: #f44336;

      &.golden {
        background-color: gold;
      }
    }
  }
}


