:host {
  display: block;
  width: 16 * (22px);
  margin: auto;
  background-color: grey;

  .row {
    height: 2rem;
  }

  .column {
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    display: inline-block;

    &.snake {
      background-color: #323232;

      &.head {
        background-color: #00b500;

        &.golden {
          background-color: gold;
        }
      }
    }

    &.apple {
      background-color: #f44336;

      &.golden {
        background-color: gold;
      }
    }
  }


  .controls {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 0 .5rem 0;

    button {
      border: none;
      background: none;
    }

    .left, .right {
      flex: 1;
      text-align: center;

      .material-icons {
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        font-size: 6rem;
      }
    }
  }
}


