:host {
  display: block;
  text-align: center;

  .columns {
    display: flex;
    width: 303px;
    margin: 0 0 5px 54px;

    .item-5, .item-10 {
      margin-right: 2px;
    }
  }

  .rows {
    display: flex;
    height: 301px;
    width: 50px;
    padding: 2px 2px 0 0;
    clear: both;
    float: left;

    flex-direction: column;
  }

  .inner {
    display: flex;
    width: 303px;
    height: 301px;
    border: 1px solid black;
    flex-direction: column;

    div.row {
      display: flex;
      flex: 1;
      height: 1.9rem;
      margin: 0;
      padding: 0;
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;

      .column-5, .column-10 {
        border-right: 2px solid black;
      }

      .row-5, .row-10 {
        border-bottom: 2px solid black;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  :host {
    .inner {
      width: 258px;
      height: 255px;

      div.row {
        height: 1rem;
      }
    }
  }
}

@media screen and (min-width: 410px) {
  :host {
    .inner {
      width: 330px;
      height: 330px;

      div.row {
        height: 1rem;
      }
    }

    .rows {
      height: 330px;
    }

    .columns {
      width: 330px;
    }
  }
}

@media screen and (min-width: 768px) {
  :host {
    .inner {
      width: 530px;
      height: 530px;

      div.row {
        height: 1rem;
      }
    }

    .rows {
      height: 530px;
      font-size: 1.2rem;
    }

    .columns {
      width: 530px;
    }
  }
}

@media screen and (min-width: 1024px) {
  :host {
    .inner {
      width: 430px;
      height: 430px;

      div.row {
        height: 1rem;
      }
    }

    .rows {
      height: 430px;
    }

    .columns {
      width: 430px;
    }
  }
}
