<app-settings-view [config]="boardData.config"></app-settings-view>
<app-hearts [hearts]="hearts"></app-hearts>
<div class="columns">
  <app-caption *ngFor="let column of columnHints; let i = index"
               [numbers]="column"
               [vertical]="true"
               [ngClass]="['item-' + (i + 1)]"></app-caption>
</div>
<div class="rows">
  <app-caption *ngFor="let row of rowHints; let i = index"
               [numbers]="row"
               [vertical]="false"
               [ngClass]="['item-' + (i + 1)]"></app-caption>
</div>
<div class="inner">
  <div *ngFor="let row of boardData.current; let i = index" class="row">
    <app-block *ngFor="let block of row; let j = index"
               [block]="block"
               (failedEvent)="onFailed()"
               (goodEvent)="onGood()"
               [ngClass]="['row-' + (i + 1), 'column-' + (j + 1)]"
               [selectExpected]="selectType"
    ></app-block>
  </div>
</div>
<div class="controls">
  <mat-label>&#10005;&nbsp;&nbsp;&nbsp;</mat-label>
  <mat-slide-toggle [(ngModel)]="selectType">&#9634;</mat-slide-toggle>
</div>
