<app-settings-view [config]="boardData.config"></app-settings-view>
<app-hearts [hearts]="hearts"></app-hearts>
<div class="columns">
  @for (column of columnHints; track column) {
    <app-caption
        [numbers]="column"
        [vertical]="true"
        [config]="boardData.config"></app-caption>
  }
</div>
<div class="rows">
  @for (row of rowHints; track row) {
    <app-caption
        [numbers]="row"
        [vertical]="false"
        [config]="boardData.config"></app-caption>
  }
</div>
<div class="inner">
  @for (row of boardData.current; track row) {
    <div class="row">
      @for (block of row.data; track block) {
        <app-block
            [block]="block"
            [config]="boardData.config"
            (action)="onAction($event)"
            [selectExpected]="selectType">
        </app-block>
      }
    </div>
  }
</div>
<div class="controls">
  <mat-label>&#10005;&nbsp;&nbsp;&nbsp;</mat-label>
  <mat-slide-toggle [(ngModel)]="selectType">&#9634;</mat-slide-toggle>
</div>
