:host {
  display: block;
  text-align: center;

  .columns {
    padding: 0 0 5px 54px;

    .item-5, .item-10 {
      margin-right: 2px;
    }
  }

  .rows {
    clear: both;
    display: block;
    float: left;
    width: 50px;
    padding: 2px 2px 0 0;
  }

  .inner {
    display: block;
    float: left;
    width: 306px;
    height: 304px;
    border: 1px solid black;

    div.row {
      height: 1.2rem;
      margin: 0;
      padding: 0;
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;

      .column-5, .column-10 {
        border-right: 2px solid black;
      }

      .row-5, .row-10 {
        border-bottom: 2px solid black;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  :host {
    .inner {
      width: 258px;
      height: 256px;

      div.row {
        height: 1rem;
      }
    }
  }
}
