:host {
  display: flex;
  background: transparent url('../../../../assets/images/game-sprite.png') 0 -41px no-repeat;
  width: 320px;
  height: 41px;
  color: #ededed;
  font-weight: normal;
  line-height: 44px;

  .text {
    width: 278px;
    text-align: left;

    span {
      padding: 0 1rem;
    }
  }

  .value {
    flex: 1;

    span {
      display: block;
      padding: 0 0.5rem;
      text-align: center;
      font-size: .9em;
    }
  }
}
