<bpa-icon-card [header]="'COMPONENTS.SETTINGS.HEADLINE' | translate">
  <section class="setting">
    <mat-card-subtitle translate>COMPONENTS.SETTINGS.LABELS.LEVEL</mat-card-subtitle>
    <mat-radio-group aria-labelledby="level-label"
                     [(ngModel)]="level">
      <mat-radio-button *ngFor="let item of levels; trackBy: ('value' | trackByProperty)"
                        [value]="item">
        {{ 'GLOBAL.ENUM.LEVEL.' + item | uppercase | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <section class="setting">
    <mat-card-subtitle translate>COMPONENTS.SETTINGS.LABELS.SIZE</mat-card-subtitle>
    <mat-radio-group aria-labelledby="size-label"
                     [(ngModel)]="size">
      <mat-radio-button *ngFor="let item of sizes; trackBy: ('value' | trackByProperty)"
                        [value]="item">
        {{ 'GLOBAL.ENUM.SIZE.' + item | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <section class="actions">
    <button mat-flat-button color="primary" (click)="save()">
      {{ 'COMPONENTS.SETTINGS.SAVE' | translate }}
    </button>
  </section>
</bpa-icon-card>
