<mat-card>
  <h2>Debugging / Testing</h2>
  <p>Die Funktionen sind mit Vorsicht zu genießen.</p>
  <button mat-raised-button color="primary" (click)="deleteStartup()">Startup löschen</button>
  <button mat-raised-button color="primary" (click)="deleteOffices()">Büros löschen</button>
  <button mat-raised-button color="primary" (click)="clearLabourMarket()">Arbeitsmarket zurückstzen / initialisieren
  </button>
</mat-card>
<mat-card>
  <h2>Berufe</h2>
  <app-professions></app-professions>
</mat-card>
<mat-card>
  <h2>Level</h2>
  <app-levels></app-levels>
</mat-card>
