<mat-card>
  <h2>Debugging / Testing</h2>
  <p>Die Funktionen sind mit Vorsicht zu genießen.</p>
  <button mat-raised-button color="primary" (click)="deleteStartup()">Startup löschen</button>
  <button mat-raised-button color="primary" (click)="deleteOffices()">Büros löschen</button>
  <button mat-raised-button color="primary" (click)="clearLabourMarket()">Arbeitsmarket zurückstzen / initialisiere
  </button>
  <button mat-raised-button color="primary" (click)="reset()">Komplett zurücksetzen</button>
  <h2>Geld verdienen leicht gemacht</h2>
  <p>Diese Funktionen dienen dazu, den aktuellen Kontostand zu beeinflussen.</p>
  <button mat-raised-button color="primary" (click)="changeCredit(1000, true)">Geld verdienen</button>
  <button mat-raised-button color="primary" (click)="changeCredit(1000, false)">Geld ausgeben</button>
</mat-card>
<mat-card>
  <h2>Berufe</h2>
  <app-professions></app-professions>
</mat-card>
<mat-card>
  <h2>Level</h2>
  <app-levels></app-levels>
</mat-card>
<mat-card>
  <h2>Städt</h2>
  <app-cities></app-cities>
</mat-card>
