:host {
  height: calc(100vh - 56px - env(safe-area-inset-top));
  display: flex;
  flex-direction: column;
  align-content: center;

  app-navigation {
    display: block;
    width: 300px;
    margin: auto;
  }

  app-version {
    margin: 2rem;
    text-align: center;
  }

  div {
    text-align: center;
  }
}
