:host {
  height: calc(100vh - 2rem - env(safe-area-inset-top));
  display: flex;
  flex-direction: column;
  align-content: center;

  app-navigation {
    flex: 1;
  }

  app-version {
    display: block;
    margin: 2rem;
    text-align: center;
  }

  div {
    text-align: center;
  }
}
