.icon {
  padding: 0 0 0 5px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  max-width: 100%;
  margin: auto;
}

mat-toolbar {
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */

  mat-toolbar-row {
    max-width: 400px;
    margin: auto;
    padding: 2rem 0;
  }
}
