<mat-card>
  <mat-card-title translate>
    COMPONENTS.SETTINGS.HEADLINE
  </mat-card-title>
  <mat-card-content>
    <p translate>COMPONENTS.SETTINGS.LABELS.USER</p>
    <mat-form-field>
      <mat-label translate>COMPONENTS.SETTINGS.LABELS.NAME</mat-label>
      <input matInput placeholder="Corban Dallas" [(ngModel)]="user">
    </mat-form-field>
    <p translate>COMPONENTS.SETTINGS.LABELS.LEVEL</p>
    <mat-radio-group
      aria-labelledby="level-label"
      [(ngModel)]="selectedLevel">
      <mat-radio-button *ngFor="let item of levels; trackBy: ('key' | trackByProperty)"
                        [value]="item.value">
        {{ 'GLOBAL.ENUM.LEVEL.' + item.key | uppercase | translate }}
      </mat-radio-button>
    </mat-radio-group>
    <p translate>COMPONENTS.SETTINGS.LABELS.GAME_MODE</p>
    <mat-radio-group
      aria-labelledby="level-label"
      [(ngModel)]="gameMode">
      <mat-radio-button *ngFor="let item of modes; trackBy: ('key' | trackByProperty)"
                        [value]="item.value">
        {{ 'GLOBAL.ENUM.GAME_MODE.' + item.key | uppercase | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-flat-button color="primary" (click)="save()">
        {{ 'COMPONENTS.SETTINGS.SAVE' | translate }}
      </button>
      <button mat-flat-button color="primary" [routerLink]="['highscore']">
        {{ 'COMPONENTS.SETTINGS.HIGHSCORE' | translate }}
      </button>
      <button mat-flat-button color="primary" [routerLink]="['privacy']">
        {{ 'GLOBAL.LINKS.PRIVACY' | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
