<h1>Moment Playground</h1>
<h2>isBefore</h2>
<p>Dieser Test prüft die Nutzung verschiedener Methoden zwei Datumswerte zu vergleiche.</p>
<p>Basis sind zwei Zufallsdaten als ISO String (Beispiel: '2012-01-01T12:12:12.222')</p>
<p> Es werden {{ loop | number }} Wiederholungen gemacht, um eine belastbare Zahl zu ermitteln.</p>

<h4>Moment isBefore on Strings</h4>
{{ timeMoment }}
<h4>Date isBefore on Strings</h4>
{{ timeDates }}
<h4>Native isBefore on Strings</h4>
{{ timeNative }}

<section>
  <button (click)="runIsBefore()">isBefore Starten</button>
</section>

<h2>addDays</h2>
<p>Dieser Test prüft die Nutzung verschiedener Methoden Tage einem Datum hinzuzufügen.</p>
<p>Basis sind zwei Zufallsdaten als ISO String (Beispiel: '2012-01-01T12:12:12.222')</p>
<p> Es werden {{ loop | number }} Wiederholungen gemacht, um eine belastbare Zahl zu ermitteln.</p>

<h4>Moment addDays on Strings</h4>
{{ timeAddDaysMoment }}
<h4>Date addDays on Strings</h4>
{{ timeAddDaysDates }}

<section>
  <button (click)="runAddDays()">addDays Starten</button>
</section>

<h2>clone</h2>
<p>Dieser Test prüft die Nutzung verschiedener Methoden ein Datum zu clonen.</p>
<p>Basis sind zwei Zufallsdaten als ISO String (Beispiel: '2012-01-01T12:12:12.222')</p>
<p> Es werden {{ loop | number }} Wiederholungen gemacht, um eine belastbare Zahl zu ermitteln.</p>
<h4>Moment clone on moment</h4>
{{ timeCloneMoment }}
<h4>Date clone on date</h4>
{{ timeCloneDates }}

<section>
  <button (click)="runClone()">clone Starten</button>
</section>

<h2>create</h2>
<p>Dieser Test prüft die Nutzung verschiedener Methoden ein Datum zu erzeugen von einem String.</p>
<p>Basis sind zwei Zufallsdaten als ISO String (Beispiel: '2012-01-01T12:12:12.222')</p>
<p> Es werden {{ loop | number }} Wiederholungen gemacht, um eine belastbare Zahl zu ermitteln.</p>
<h4>Moment create</h4>
{{ timeCreateMoment }}
<h4>Date create</h4>
{{ timeCreateDates }}
<h4>Moment create with date</h4>
{{ timeCreateMomentWithDate }}

<section>
  <button (click)="runCreate()">create Starten</button>
</section>
