:host {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  app-board {
    display: block;
    max-width: 100%;
    margin: 0.5rem;
  }

  .buttons {
    max-width: 100%;
    margin: auto;
    padding: 0 0 0 52px;
    text-align: center;

    button {
      margin: 1rem;
    }
  }
}
