:host {
  app-board {
    width: 360px;
    max-width: 100%;
    margin: auto;
  }

  .buttons {
    width: 360px;
    max-width: 100%;
    margin: auto;
    text-align: center;

    button {
      margin: 1rem;
    }
  }
}
