:host {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .buttons {
    max-width: 100%;
    margin: auto;
    text-align: center;

    button {
      font-size: 1.5rem;
      margin: 1rem;
    }
  }
}
