:host {
  position: relative;
}

* {
  box-sizing: border-box;
}

.scene {
  width: 50px;
  height: 50px;
  border: 1px solid #CCC;
  margin: 6px;
  perspective: 150px;
}

.cube {
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 1s;
}

:host([data-value="1"]) .cube {
  transform: translateZ(-25px) rotateY(0deg);
}

:host([data-value="2"]) .cube {
  transform: translateZ(-25px) rotateY(-90deg);
}

:host([data-value="6"]) .cube {
  transform: translateZ(-25px) rotateY(-180deg);
}

:host([data-value="5"]) .cube {
  transform: translateZ(-25px) rotateY(90deg);
}

:host([data-value="3"]) .cube {
  transform: translateZ(-25px) rotateX(-90deg);
}

:host([data-value="4"]) .cube {
  transform: translateZ(-25px) rotateX(90deg);
}

.cube__face {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front {
  background: hsla(0, 100%, 50%, 0.7);
}

.cube__face--right {
  background: hsla(60, 100%, 50%, 0.7);
}

.cube__face--back {
  background: hsla(120, 100%, 50%, 0.7);
}

.cube__face--left {
  background: hsla(180, 100%, 50%, 0.7);
}

.cube__face--top {
  background: hsla(240, 100%, 50%, 0.7);
}

.cube__face--bottom {
  background: hsla(300, 100%, 50%, 0.7);
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(25px);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(25px);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(25px);
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(25px);
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(25px);
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(25px);
}

label {
  margin-right: 10px;
}

/*:host {
  background: transparent url(../../../../assets/images/dice-sprite.png) top left no-repeat;
  display: block;
  width: 66px;
  margin-left: -5px;
  height: 74px;
  background-position-x: -74px;
}

:host(.fixed) {
  background-position-x: 0;
}

:host([data-value="2"]) {
  background-position-y: -74px;
}

:host([data-value="3"]) {
  background-position-y: -148px;
}

:host([data-value="4"]) {
  background-position-y: -222px;
}

:host([data-value="5"]) {
  background-position-y: -296px;
}

:host([data-value="6"]) {
  background-position-y: -370px;
}
*/
