:host {
    background: transparent url(../../../../assets/images/dice-sprite.png) top left no-repeat;
    display: block;
    width: 66px;
    margin-left: -5px;
    height: 74px;
    background-position-x: -74px;
}
:host(.fixed) {
    background-position-x: 0;
}
:host([data-value="2"]){
    background-position-y: -74px;
}
:host([data-value="3"]){
    background-position-y: -148px;
}
:host([data-value="4"]){
    background-position-y: -222px;
}
:host([data-value="5"]){
    background-position-y: -296px;
}
:host([data-value="6"]){
    background-position-y: -370px;
}