:host {
  display: block;
  overflow: hidden;
  background: transparent url(assets/images/logo.png) top center no-repeat;
  min-height: 250px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1em;
  position: relative;

  button.trigger {
    right: 5px;
    top: 5px;
    position: absolute;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    border: 5px solid rgba(255, 255, 255, 0.25);
    outline: none;
    display: none;

    .mat-icon {
      line-height: 15px;
    }
  }
}

:host.visible button.trigger {
  display: inline-block;
}

