:host {
  display: block;
  overflow: hidden;
  background: transparent url(assets/images/logo.png) top center no-repeat;
  min-height: 250px;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1em;
  position: relative;

  .trigger {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
  }
}

:host.visible button.trigger {
  display: inline-block;
}

