<button mat-icon-button [matMenuTriggerFor]="menu" class="trigger">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="displayRanking()">
    <mat-icon>dialpad</mat-icon>
    <span translate>COMPONENTS.APP_COMPONENT.STANDINGS</span>
  </button>
  <button mat-menu-item [routerLink]="['/']">
    <mat-icon>dialpad</mat-icon>
    <span>Zum Menü</span>
  </button>
  <button mat-menu-item (click)="endGame()">
    <mat-icon>dialpad</mat-icon>
    <span>Spiel beenden</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
