@if (game.state$()) {
  <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu" class="trigger">
    <mat-icon>menu</mat-icon>
  </button>
}

<mat-menu #menu>
  <button mat-menu-item (click)="displayRanking()">
    <mat-icon>dialpad</mat-icon>
    <span translate>COMPONENTS.APP_COMPONENT.STANDINGS</span>
  </button>
  <button mat-menu-item [routerLink]="['/']">
    <mat-icon>dialpad</mat-icon>
    <span>Zum Menü</span>
  </button>
  <button mat-menu-item (click)="endGame()">
    <mat-icon>dialpad</mat-icon>
    <span>Spiel beenden</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
