:host {
  display: block;
  height: 1.9rem;
  border-radius: 2px;
  margin-bottom: 1px;
  background-color: lightgray;
  font-size: 1rem;
  line-height: 2rem;
  text-align: right;

  span {
    padding-right: 1px;
  }

  &.vertical {
    display: flex;
    position: relative;
    float: left;
    flex-direction: column;
    width: 1.9rem;
    height: 5.5rem;
    padding-top: 1px;
    margin-right: 1px;

    justify-content: flex-end;
    text-align: center;
    line-height: .9rem;

    span {
      display: block;
      flex: 1;
      flex-grow: 0;
      padding: 0 !important;

      &.text-length-6 {
        line-height: .9rem;
        font-size: .9rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  :host {
    height: 1rem;
    font-size: 0.6rem;
    line-height: 1rem;

    &.vertical {
      width: 1rem;
      height: 3.5rem;

      span {
        top: 25px;
        left: -26px;
        width: 70px;
      }
    }
  }
}
