/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

mat-form-field {
  width: 100%;
}

[ng-reflect-router-link] {
  cursor: pointer;
}

app-root {
  max-width: 600px;
  margin: auto;

  .mat-toolbar-single-row {
    padding: 0 .5rem;
  }

  .mat-card {
    padding: .5rem;

    .mat-card-actions {
      margin: 0;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

table {
  width: 100%;

  th.mat-header-cell {
    font-weight: bold;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding-right: 1rem;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 0;
  }
}

.full-size {
  height: 100%;
}


