<bpa-icon-card header="Deine Startorte" icon="home_work" [route]="['offices']">
  <table mat-table [dataSource]="offices$">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let office"> {{ office.name }} </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Stadt</th>
      <td mat-cell *matCellDef="let office"> {{ office.city?.name }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'city']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'city'];" [routerLink]="['/offices', row.id]"></tr>
  </table>
</bpa-icon-card>
