:host {
  background: transparent url('notpad_background_normal.png') top center no-repeat;
  margin-top: 10rem;
  min-height: 250px;
  display: block;

  ul {
    list-style: none;
    width: 200px;
    display: block;
    margin: auto;
    text-align: center;
    color: #000;
    font-size: 1.5em;
    line-height: 2.15em;
    padding: 2.5rem 0 0 0;

    li {
      padding: 0;

      a {
        color: #000;

        :visited {
          color: #000;
        }
      }
    }
  }
}
