/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@import "~material-design-icons/iconfont/material-icons.css";
@import "values";

@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/annie-use-your-telescope-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Annie Use Your Telescope Regular'), local('AnnieUseYourTelescope-Regular'),
  url('./assets/fonts/annie-use-your-telescope-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/annie-use-your-telescope-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./assets/fonts/annie-use-your-telescope-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./assets/fonts/annie-use-your-telescope-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./assets/fonts/annie-use-your-telescope-v10-latin-regular.svg#AnnieUseYourTelescope') format('svg'); /* Legacy iOS */
}

$config: mat-typography-config(
  $font-family: 'Annie Use Your Telescope, Verdana, sans-serif'
);

@include mat-core($config);

html {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  background-color: grey;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  font-family: 'Annie Use Your Telescope', Verdana, sans-serif;
  font-size: 10px;

  body {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: 0;
    padding: 0;

    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */

    app-root {
      display: flex;
      flex: 1;

      .mat-flat-button.mat-primary {
        background-color: $brandColorDark;
      }

      a:link,
      a:visited {
        color: $brandColor;
      }
    }
  }
}
