:host {
  background: transparent url('../../../../assets/images/notpad_background_normal.png') top center no-repeat;
  margin-top: 10rem;
  min-height: 250px;
  display: block;

  p {
    padding-top: 3rem;
    font-size: 0.75em;
    color: black;
  }

  app-link-button {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100vw;
  }
}