:host {
  background: transparent url('../../../../assets/images/notpad_background_normal.png') top center no-repeat;

  display: flex;
  flex-direction: column;
  margin: 6.5rem auto 0 auto;
  height: calc(100vh - 6.5rem - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  justify-content: center;

  p {
    flex: 1;
    padding: 3rem 0;
    font-size: 0.75em;
    color: black;
  }

  app-link-button {
    width: 100vw;
  }
}
