/* You can add global styles to this file, and also import other style files */
@import "material-design-icons/iconfont/material-icons.css";
/* You can add global styles to this file, and also import other style files */

html {
  touch-action: manipulation;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  body {
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */

    margin: 0;

    font-family: Verdana, sans-serif;
    background: transparent url(assets/images/background.jpg) top left;

    .mat-form-field-appearance-legacy {
      .mat-form-field-label {
        color: rgba(255, 255, 255, 1) !important;
      }

      .mat-form-field-underline {
        background-color: rgba(255, 255, 255, .42);
      }
    }

    .mat-form-field.mat-focused {
      .mat-form-field-ripple {
        background-color: rgba(255, 255, 105, .42);
      }
    }

    .mat-form-field-disabled {
      .mat-form-field-label {
        color: rgba(155, 155, 155, 1) !important;
      }
    }

    .mat-dialog-container {
      .button-row {
        button {
          width: 100%;
          max-width: 320px;
        }
      }
    }

    .mat-raised-button.mat-warn {
      background-color: #5b0d0d;
      border: 1px solid white;
      border-radius: 8px;
    }

    .mat-menu-panel a {
      color: black;
      text-decoration: none;
    }

    .button-row {
      button,
      a {
        width: 320px;
        display: inline-block;
      }
    }

    .cdk-overlay-pane {
      max-width: 95vw !important;
    }
  }
}
