:host {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 0 .5rem 0;

  button {
    border: none;
    background: none;
  }

  .left, .right {
    flex: 1;
    text-align: center;

    .material-icons {
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      font-size: 6rem;
    }
  }
}
