<mat-card>
  <h2>Standorte</h2>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter()" [(ngModel)]="filterTerm" placeholder="Ex. ium" autocomplete="off">
  </mat-form-field>

  <table mat-table [dataSource]="data$ | async" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let office"> {{ office.name }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Adresse</th>
      <td mat-cell *matCellDef="let office"> {{ office.address }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
