<app-score [scoreBoard]="scoreBoard"></app-score>
<div class="row" *ngFor="let row of board; let i = index;">
  <div *ngFor="let cell of row; let j = index; trackBy: 'id' | trackByProperty"
       class="column"
       [class.snake]="cell.isSnake"
       [class.head]="cell.isHead"
       [class.apple]="cell.isApple"
       [class.golden]="cell.isGoldenApple">
  </div>
</div>

<app-controls *ngIf="!gameOver" (control)="handleDirection($event)"></app-controls>
<app-navigation *ngIf="gameOver" (restart)="restart()"></app-navigation>
<bpa-count-down *ngIf="!started"></bpa-count-down>
