<mat-nav-list>
  <div class="top">
    <mat-list-item [routerLink]="['/']" (click)="navigation.emit()">
      <mat-icon>home</mat-icon>
      <span matLine>Dashboard</span>
    </mat-list-item>
  </div>
  <div class="button">
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['/']" (click)="navigation.emit()">
      <mat-icon>settings</mat-icon>
      <span matLine>Einstellungen</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['notes']" (click)="navigation.emit()">
      <mat-icon>description</mat-icon>
      <span matLine>Impressum</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['privacy']" (click)="navigation.emit()">
      <mat-icon>info</mat-icon>
      <span matLine>Datenschutz</span>
    </mat-list-item>
  </div>
</mat-nav-list>
