<mat-nav-list>
  <div class="top">
    <mat-list-item [routerLink]="['/']" (click)="navigation.emit()">
      <mat-icon>home</mat-icon>
      <span matLine>Dashboard</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['offices']" (click)="navigation.emit()">
      <mat-icon>home_work</mat-icon>
      <span matLine>Standorte</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['employee/market']" (click)="navigation.emit()">
      <mat-icon>people</mat-icon>
      <span matLine>Arbeitsmarkt</span>
    </mat-list-item>
  </div>
  <div class="button">
    <mat-divider></mat-divider>
    <app-startup-avatar></app-startup-avatar>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['/']" (click)="navigation.emit()">
      <mat-icon>settings</mat-icon>
      <span matLine>Einstellungen</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/debug']" (click)="navigation.emit()">
      <mat-icon>tag_faces</mat-icon>
      <span matLine>Debug</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [routerLink]="['notes']" (click)="navigation.emit()">
      <mat-icon>description</mat-icon>
      <span matLine>Impressum</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['privacy']" (click)="navigation.emit()">
      <mat-icon>info</mat-icon>
      <span matLine>Datenschutz</span>
    </mat-list-item>
  </div>
</mat-nav-list>
