<mat-nav-list>
  <div class="top">
    <mat-list-item>
      <mat-icon>home</mat-icon>
      <a matLine [routerLink]="['/']">Dashboard</a>
    </mat-list-item>
  </div>
  <div class="button">
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon>settings</mat-icon>
      <a matLine [routerLink]="['/']">Einstellungen</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon>description</mat-icon>
      <a matLine [routerLink]="['notes']">Impressum</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>info</mat-icon>
      <a matLine [routerLink]="['privacy']">Datenschutz</a>
    </mat-list-item>
  </div>
</mat-nav-list>
