@import "../../../../../../values";

:host {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 0 .5rem 0;

  button {
    border: none;
    background: none;
  }

  .left, .right {
    flex: 1;

    .material-icons {
      display: block;
      margin: auto;
      color: $brandColorDark;
      text-align: center;
      font-size: 9rem;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}
