/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-design-icons/iconfont/material-icons.css";

html {
  touch-action: manipulation;
  font-size: 10px;

  body {
    padding: .5rem .25rem;

    app-root {
      display: block;
      min-width: 320px;
      max-width: 375px;
      margin: auto;
    }
  }
}
