:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav-container {
    flex: 1;

    main {
      padding: 1rem;
    }
  }

  h1 {
    flex: 1;
  }
}
