<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;<h1>Startup - {{ title$ | async }}</h1>
  <section>
    <app-credit></app-credit>
    <app-date></app-date>
  </section>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #snav mode="over">
    <app-navigation (navigation)="snav.toggle()"></app-navigation>
  </mat-sidenav>
  <main>
    <router-outlet></router-outlet>
    <bpa-speed-dial></bpa-speed-dial>
  </main>
</mat-sidenav-container>

