<table *ngIf="data$ | async as data" [dataSource]="data" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Name</th>
    <td *matCellDef="let highscore" mat-cell> {{ highscore.name }}</td>
  </ng-container>
  <ng-container matColumnDef="score">
    <th *matHeaderCellDef mat-header-cell>Punkte</th>
    <td *matCellDef="let highscore" mat-cell>
      {{ highscore.score }}
      <br>
      <small>({{ highscore.apples }})</small>
    </td>
  </ng-container>
  <ng-container matColumnDef="level">
    <th *matHeaderCellDef mat-header-cell>Level</th>
    <td *matCellDef="let highscore" mat-cell>
      {{ highscore.level }}
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell>Datum</th>
    <td *matCellDef="let highscore" mat-cell>
      {{ highscore.date | date:'dd.MM.yy' }}
      <br>
      <small>({{ highscore.date | date:'HH:mm:ss' }})</small>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="['name', 'score', 'date']" mat-header-row></tr>
  <tr *matRowDef="let row; columns: ['name', 'score', 'date'];" mat-row></tr>
</table>
