<table *ngIf="data$ | async as data" mat-table [dataSource]="data">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Beruf</th>
    <td mat-cell *matCellDef="let level"> {{ level.name }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
    <td mat-cell *matCellDef="let level"> {{ level.description }}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Typ</th>
    <td mat-cell *matCellDef="let level"> {{ level.type }}</td>
  </ng-container>
  <ng-container matColumnDef="salaryFactor">
    <th mat-header-cell *matHeaderCellDef>Gehaltsfaktor</th>
    <td mat-cell *matCellDef="let level"> {{ level.salaryFactor }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
